@font-face {
  font-family: "italic";
  src: url(font/Inter-Italic.woff2) format(woff2);
}
@font-face {
  font-family: "regular";
  src: url(font/Inter-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "semibold";
  src: url(font/Inter-SemiBold.woff2) format(woff2);
}
@font-face {
  font-family: "semibold italic";
  src: url(font/Inter-SemiBoldItalic.woff2) format(woff2);
}

body {
  margin: 0px;
  background-color: #f1f3f6;
}
.header {
  height: 56px;
  width: 100%;
  background-color: #2874f0;
  position: fixed;
  z-index: 999999;
}
.first {
  width: 124px;
}
.header-content {
  width: 100%;
  max-width: 1248px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 56px;
  align-items: center;
  margin-left: 360px;
}
.second {
  width: 104px;
}
.flip {
  display: flex;
  flex-direction: column;
}
.explore-plus {
  font-size: 11px;
  font-style: italic;
}
.explore-plus a {
  color: white;
  text-decoration: none;
}
.explore-plus span {
  color: #ffe500;
}
.login-btn {
  width: 123px;
  color: #2874f0;
  font-weight: 500;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  height: 32px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
  font-size: 16px;
  font-weight: 500;
}
.nav-link a {
  color: white;
  text-decoration: none;
  margin: 0px 20px;
  font-family: nter, -apple-system, Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.input-btn {
  position: relative;
  display: inline-block;
}
.input-btn input {
  padding-right: 30px;
  height: 32px;
  width: 531px;
}
.input-btn svg {
  position: absolute;
  top: 21px;
  right: 8px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.nav-link .arrow {
  transform: rotate(270deg);
}
/* 2ND HEADER */
.sub-head-containter {
  background-color: #fff;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.16);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 13px;
  position: relative;
  top: 54px;
  z-index: 1;
  font-weight: 600;
}
.mini svg {
  transform: rotate(270deg);
  margin-left: 2px;
  fill: #c0bdbd;
}
.mini {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 59px;
  margin: auto;
}
.main-cont {
  width: 70%;
  height: 550px;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  top: 95px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid rgb(216, 210, 210);
  border-top: 0px;
  text-decoration: none;
  display: none;
}
.inside-container {
  display: flex;
  flex-direction: row;
}
.mob-1 {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}
.inside {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.inside h1 {
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 13px;
  color: #212121;
}

.inside-2 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.accessory {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}
.inside-2 h1 {
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 13px;
}
.inside-3 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}

.inside-3 h1 {
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 13px;
}
.computer-item {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}

.inside-4 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.inside-4 h1 {
  margin-top: 3px;
  padding: 4px 0px;
  font-size: 13px;
}
.electronics-item {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}
.inside-5 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.inside-5 h1 {
  margin-top: 3px;
  padding: 4px 0px;
  font-size: 13px;
}
.featured-item {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}

/* MAIN SECTION */

.body {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1680px;
  padding: 8px;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 54px;
  z-index: 1;
}

/* SIDE-BAR */

.side-bar {
  width: 266px;
  border: 1px solid white;
  background-color: white;
  margin-left: 9px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
}
.main-body {
  width: 1385px;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
}
.filters {
  height: 54.5px;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
  padding: 16px;
}
.filters span {
  font-size: 18px;
  font-weight: 550;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  color: #212121;
  line-height: 1.4;
  letter-spacing: 0.1px;
}
.category {
  padding: 16px;
  height: 81px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}
.category span {
  font-size: 11px;
  font-weight: 600;
  color: #212121;
  margin-bottom: 7px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.mobile-acc a {
  text-decoration: none;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  color: #878787;
  font-size: 13px;
  letter-spacing: 0.5px;
}
.mobile {
  text-decoration: none;
  color: black;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 600;
}


.price-container {
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
}
.price-container span {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.grey {
  height: 100%;
  position: relative;
  bottom: -6px;
  display: flex;
  flex-direction: row;
}
.grey .one {
  background: #e0e0e0;
  position: relative;
  left: 4px;
}
.handle-one {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #4b2525;
  position: absolute;
  background-color: #fff;
}
.range {
  display: flex;
  flex-direction: row;
}
.track {
  background-color: #2874f0;
  position: relative;
  height: 6px;
  width: 236.81px;
  top: 4px;
}
.handle-two {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #4b2525;
  position: absolute;
  background-color: #fff;
  left: 260px;
}
.min-max {
  display: flex;
  flex-direction: row;
  margin: 5px -4px 0;
}
.min-select {
  border-radius: 1px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 108px;
  height: 24px;
}
.max-select {
  border-radius: 1px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 108px;
  height: 24px;
}
.to {
  display: inline;
  margin: 6px 9px;
  font-size: 14px;
  color: #878787;
  line-height: 1;
  flex: 1;
  text-align: center;
}

/* BRAND */
.brand-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.brand {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.brand-label {
  padding: 3px 0px;
}
.searching {
  padding: 0px 0px 0px 15px;
  position: absolute;
  border: 1px solid #e0e0e0;
  border-width: 0 0 2px;
  width: 12%;
  outline: none;
}
.searching-box {
  margin-bottom: 7px;
}
.brand-filters {
  display: none;
  margin: 5px 0px;
  padding: 5px 0px;
}
.brand svg {
  transform: rotate(270deg);
}
/* F-ASSURED */
.f-assured {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.questionmark {
  border-radius: 50%;
  background-color: white;
  color: #878787;
  font-weight: 500;
  width: 16px;
  height: 16px;
  font-size: 11px;
  display: inline-block;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.questionmark span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.check input {
  position: relative;
  bottom: 6px;
  background-color: transparent;
  border: 1.4px solid #c2c2c2;
  border-radius: 1.5px;
  cursor: pointer;
}
/* CUSTOMER-RATING */
.main-customer {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.customer-rating {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.customer-rating svg {
  transform: rotate(270deg);
}
.customer-filter {
  display: none;
  margin: 5px 0px;
  padding: 5px 0px;
}
.customer-label {
  padding: 3px 0px;
  font-size: 13px;
  font-weight: 400;
  padding: 5px;
}
/* GST INVOICE */
.main-gst {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.gst-invoice {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.gst-label {
  font-weight: 300;
  font-size: 13px;
}
.gst-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
}
.gst-invoice svg {
  transform: rotate(270deg);
}

/* RAM */
.main-ram {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.ram-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
}
.ram {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.ram-label {
  font-weight: 300;
  font-size: 13px;
}
.ram svg {
  transform: rotate(270deg);
}
/* INTERNAL STORAGE */
.internal-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.internal-storage {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.internal-label {
  font-weight: 300;
  font-size: 13px;
}
.internal-storage svg {
  transform: rotate(270deg);
}
.internal-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
}
/* BATTERY-CAPACITY */
.main-battery {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.battery-capacity {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}
.battery-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
}
.battery-label {
  font-weight: 300;
  font-size: 13px;
}
.battery-capacity svg {
  transform: rotate(270deg);
}
/* MAIN SCREEN */
.main-screen {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.screen-size {
  display: flex;
  justify-content: space-between;
}
.screen-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.screen-size svg {
  transform: rotate(270deg);
}
/* PRIMARY CAMERA */
.main-primary {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.primary {
  display: flex;
  justify-content: space-between;
}
.primary-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.primary svg {
  transform: rotate(270deg);
}
/* SECONDARY CAMERA */
.main-secondary {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.secondary-camera {
  display: flex;
  justify-content: space-between;
}
.secondary-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.secondary-camera svg {
  transform: rotate(270deg);
}
/* PROCESSOR BRAND */
.main-processor {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.processor-brand {
  display: flex;
  justify-content: space-between;
}
.processor-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.processor-brand svg {
  transform: rotate(270deg);
}
/* SPECIALITY */
.speciality-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.speciality {
  display: flex;
  justify-content: space-between;
}
.speciality-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.speciality svg {
  transform: rotate(270deg);
}
/* RSOLUTION */
.resolution-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.resolution {
  display: flex;
  justify-content: space-between;
}
.resolution-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.resolution svg {
  transform: rotate(270deg);
}
/* OPERATING SYSTEM */
.operating-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.operating-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.operating-system {
  display: flex;
  justify-content: space-between;
}
.operating-system svg {
  transform: rotate(270deg);
}
/* NETWORK TYPE */
.network-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.network-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.network-type {
  display: flex;
  justify-content: space-between;
}
.network-type svg {
  transform: rotate(270deg);
}
/* SIM-TYPE */
.sim-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.sim-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.sim-type {
  display: flex;
  justify-content: space-between;
}
.sim-type svg {
  transform: rotate(270deg);
}

/* OFFERS */
.offers-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.offers {
  display: flex;
  justify-content: space-between;
}
.offers-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.offers svg {
  transform: rotate(270deg);
}

/* FEATURES */
.features-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.features {
  display: flex;
  justify-content: space-between;
}
.features-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.features svg {
  transform: rotate(270deg);
}

/* TYPES */
.type-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.type {
  display: flex;
  justify-content: space-between;
}
.type-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.type svg {
  transform: rotate(270deg);
}
/* NO.OF CORES */
.no-of-cores-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.no-of-cores {
  display: flex;
  justify-content: space-between;
}
.no-of-cores-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.no-of-cores svg {
  transform: rotate(270deg);
}

/* AVAILABILITY */
.availability-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.availability {
  display: flex;
  justify-content: space-between;
}
.availability-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.availability svg {
  transform: rotate(270deg);
}

/* DISCOUNT */
.discount-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.discout {
  display: flex;
  justify-content: space-between;
}
.discount-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.discout svg {
  transform: rotate(270deg);
}
/* OS VERSION NAME */
.os-version-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.os-version-name {
  display: flex;
  justify-content: space-between;
}
.os-version-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.os-version-name svg {
  transform: rotate(270deg);
}

/* CLOCK SPEED */
.clock-main {
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.clock-speed {
  display: flex;
  justify-content: space-between;
}
.clock-filter {
  margin: 10px 0px;
  display: none;
  padding: 5px 0px;
  font-weight: 300;
}
.clock-speed svg {
  transform: rotate(270deg);
}
/* HELP */
.help {
  padding-top: 30px;
  height: 151px;
  width: 100%;
  border: 1px solid #f1f3f6;
  background-color: #f1f3f6;
}
.help span {
  text-align: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.help-2 {
  display: flex;
  flex-direction: row;
  margin: 5px 0 20px;
}
.help-2 a {
  text-decoration: none;
  color: #2874f0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  letter-spacing: 0.3px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 17px;
}
.help-2 svg {
  transform: rotate(180deg);
  position: relative;
  top: 8px;
  right: 65px;
}
.book-img {
  display: flex;
  justify-content: center;
}
/* MAIN BODY */
.body-head {
  height: 97px;
  border-bottom: 1px solid #f1f3f6;
  padding: 12px 16px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-one a {
  font-size: 12px;
  color: #878787;
  display: inline-block;
  text-decoration: none;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}
.home-one {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 924px;
}
.home-one svg {
  transform: rotate(180deg);
  position: relative;
  top: 5px;
}
.mobile-heading {
  margin-top: 8px;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  margin-bottom: 0px;
}
.bracket {
  margin-left: 10px;
  color: #878787;
  display: inline-block;
  font-size: 12px;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
}

.sort {
  display: flex;
  font-family: Inter, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.3px;
}
.sort-by {
  padding: 8px 10px 4px 0px;
  font-weight: 600;
}
.popularity {
  padding: 8px 0px 4px;
  margin: 0px 10px;
}
.low-high {
  padding: 8px 0px 4px;
  margin: 0px 10px;
}
.hgih-low {
  padding: 8px 0px 4px;
  margin: 0px 10px;
}
.newest {
  padding: 8px 0 4px;
  margin: 0 10px;
}
li::marker {
  color: #c2c2c2;
  padding-right: 8px;
}
li::before {
  content: "•";
  color: #c2c2c2;
  padding-right: 8px;
  display: table-cell;
}
.card {
  height: 286px;
  box-sizing: border-box;
}
.titleclass:hover {
  color: blue;
  cursor: pointer;
}
.sort :hover {
  cursor: pointer;
}
.mini :hover .overed {
  transform: rotate(90deg);
  fill: blue;
}
.sort span{
  font-family: "regular";
}
.bracket{
  letter-spacing: .3px;
  font-size: 11px;
}
.exchange-mix{
  letter-spacing: .3;
}
.upto{
  font-family: "regular";
  
}
.off{
  font-family: "regular";
}                                                   
.memory{
  font-family: "regular";
  font-size: 13px;
}
.display{
  font-family: "regular";
  font-size: 13px;
}
.frontcamera{
  font-family: "regular";
  font-size: 13px;
}
.battery{
    font-family: "regular";
  font-size: 13px;
}
.processor{
  font-family: "regular";
  font-size: 13px;
}
.warrenty{
  font-family: "regular";
  font-size: 13px;
}
.side-bar{
  height: auto;
}

.end{
  height: 60px;
  display: flex;
  align-items: center;
}
.last{
  display: flex;
  flex-direction: row;
  margin: auto;
}
.end1{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
}
