@font-face {
  font-family: "italic";
  src: url(font/Inter-Italic.woff2) format(woff2);
}
@font-face {
  font-family: "regular";
  src: url(font/Inter-Regular.woff2) format(woff2);
}
@font-face {
  font-family: "semibold";
  src: url(font/Inter-SemiBold.woff2) format(woff2);
}
@font-face {
  font-family: "semibold italic";
  src: url(font/Inter-SemiBoldItalic.woff2) format(woff2);
}

body {
  margin: 0px;
  background-color: #f1f3f6;
}
.header {
  height: 56px;
  width: 100%;
  background-color: #2874f0;
  position: fixed;
  z-index: 999999;
}
.first {
 min-width: 124px;
}
.header-content {
  width: 100%;
  max-width: 1248px;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 11px;
  height: 56px;
  align-items: center;
  margin-left: 360px;
}
.second {
  width: 104px;
}
.flip {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
.explore-plus {
  font-size: 10px;
  cursor: pointer;
  font-weight: 0;
  letter-spacing: 0.2px;
}
.explore-plus:hover{
  text-decoration: underline;
  color: white;
 
}
.explore-plus a {
  color: white;
  text-decoration: none;
  font-family: "italic";
}
.explore-plus span {
  color: #ffe500;
  font-weight: 500;
  font-family: "semibold italic";
}
.login-btn {
  width: 123px;
   height: 31px;
  color: #2874f0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 2px;
  padding: 5px 40px;
  border: 1px solid #dbdbdb;
  font-size: 15.5px;
  margin: 0px 20px;
  flex: 0 0 auto;
  font-family: "semibold";
  position: relative;
  left: 5px;
}
.nav-link a {
  color: white;
  text-decoration: none;
  margin: 0px 10px;
  font-family: "semibold";
 
  font-size: 16px;
  letter-spacing: -0.39px;
  position: relative;
  left: 4.5px;
  bottom: 1px;
}
.nav-link svg{
  position: relative;
  bottom: 1px;
  left: 1px;
}
.input-btn {
  position: relative;
  display: inline-block;
}
.input-btn input {
  padding-right: 30px;
  height: 32px;
  width: 530px;  
}                 
.mored :hover .arrow{
  color: green;
}
.more-container{
  display: none;
}
.more-cont{
  border-bottom: 1px solid rgb(233, 230, 230);
  font-family: "regular";
  align-content: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 12px;
}
.login-container{
  display: none;
}
.morebelow{
  width: 230px;
  height: 200px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);

}
.loginbelow{

  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}

.login-cont{
  display: flex;
  /* justify-content: space-between; */
  border-bottom: 1px solid rgb(233, 230, 230);
  font-family: "regular";
  align-content: center; 
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  padding: 16px 12px; 
}
.login-cont h1{
  font-size: 12px;
  font-family: "regular";
}
.login-cont span{
  font-size: 12px;
  font-family: "regular";
  margin-left: 12px;
}
.flip-cart-img{
  position: relative;
  top: 4px;
  left: 12px;
}
.input-btn svg {
  position: absolute;
  top: 19.5px;
  right: 9px;
  padding-right: 5px;         
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.nav-link .arrow {
  transform: rotate(270deg);
}
/* 2ND HEADER */
.sub-head-containter {
  background-color: #fff;
  box-shadow:  0 1px 1px 0 rgba(0,0,0,.16);
  min-height: 42px;
  width: 100%;
  display: flex;
  align-items: center;  
  font-family: "semibold";
  font-size: 13px;
  position: relative;
  top: 54px;
  z-index: 1;
  font-weight: 600;
} 
.mini svg {
  transform: rotate(270deg);
  margin-left: 8px;
  fill: #c0bdbd;
}
.mini {                   
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 45px;
  font-family: "semibold";
  font-weight: 500;
  letter-spacing: .3px;
}
.main-cont {
  width: 70%;
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  top: 95px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid rgb(216, 210, 210);
  border-top: 0px;
  text-decoration: none;
  display: none;
}
.inside-container {
  display: flex;
  flex-direction: row;
}
.mob-1 {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}
.inside {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.inside h1 {
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 13px;
  color: #212121;
}

.inside-2 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.accessory {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}
.inside-2 h1 {
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 13px;
}
.inside-3 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}

.inside-3 h1 {
  margin-top: 5px;
  padding: 8px 0px;
  font-size: 13px;
}
.computer-item {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}           
.inside-4 {
  display: flex;          
  flex-direction: column;
  padding: 0px 25px;
}
.inside-4 h1 {
  margin-top: 3px;
  padding: 4px 0px;
  font-size: 13px;
}
.electronics-item {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}
.inside-5 {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
}
.inside-5 h1 {
  margin-top: 3px;
  padding: 4px 0px;
  font-size: 13px;
}
.featured-item {
  text-decoration: none;
  color: #666;
  font-size: 13px;
  padding: 5px 0px;
}    

/* MAIN SECTION */
.body {
  margin: 0 auto;
  min-width: 978px;
  max-width: 1680px;
  padding: 8px;
  position: relative;
  overflow: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  top: 54px;
  z-index: 1;
}
/* SIDE-BAR */
.searchbar{
  display: flex;
  flex-direction: row;
}

.searchbox{
  width: 100%;
  border-width: 0px 0px 2px;
  border-color: #e0e0e0;
  color:#878787;
  padding: 0px 0px 0px 21px;
  font-family: "regular";
  margin-bottom: 7px;
  outline: none;
}
.search{
  color: #878787;
  border-bottom:1px solid  #878787;
}
.side-bar {
  width: 270px;
  border: 1px solid white;
  background-color: white;
  margin-left: 9px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}
.main-body {
  width: 1385px;
  border: 1px solid rgb(255, 255, 255);
  background-color: white;
}
.filters {
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
  padding: 16px;
  padding-bottom: 12px;
}  
.filters span {
  font-size: 17px;
  font-weight: 550;
  font-family:"semibold";        
  color: #212121;
  line-height: 1.4;
  letter-spacing: 0.3px;
  position: relative;
  right: 2px; 
} 
/* CLEAR ALL */
.clear-main{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}
/* CLEAR ALL--2 */
.clear-main2{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros2{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text2{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}
/* CLEAR ALL--3 */
.clear-main3{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros3{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text3{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}
/* CLEAR ALL--4 */
.clear-main4{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros4{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text4{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}

/* CLEAR ALL--5 */
.clear-main5{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros5{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text5{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}
/* CLEAR ALL--6 */
.clear-main6{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros6{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text6{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}

/* CLEAR ALL--7 */
.clear-main7{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros7{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text7{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}

/* CLEAR ALL--8 */
.clear-main8{
  display: flex;
  flex-direction: row;
  display: none;
   cursor: pointer;
  padding: 7px 0px;
}
.clear-cros8{
  height: 14px;
  width: 14px;
  background-color: #f0f0f0;
  padding: 1px 0px;
  font-size: 10px;
  text-align: center;
  color: #878787;
  vertical-align: middle;
}
.clear-text8{
  margin-left: 10px;
  font-size: 14px;
  color: #878787;
  font-family:"regular";
}


.category {
  padding: 16px;
  height: 80px;
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
}  
.category span {
  font-size: 11.5px;
  color: #212121; 
  margin-bottom: 5px;
  font-family: "semibold";
  position: relative;
  right: 1px;
  top: 1px;
  letter-spacing: -0.1px;
}
.mobile-acc a {
  text-decoration: none; 
  font-family:"regular";
  color: #878787;
  font-size: 13px;
  padding: 5px 0px;
  position: relative;
  top: 3.5px;
  letter-spacing: .1px;
}
.mobile-acc svg{
    position: relative;
  top: 3.5px;
}
.mobile {
  text-decoration: none;
  color: black;
  font-size: 13px;
  letter-spacing: 0.2px;
  font-family: "semibold";
  padding: 5px 0px;
  position: relative;  
  top: 10px;
  left: 13px;
}
.price{
  font-family: "regular";
}
.price-container {
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
  height: 105px;
}
.price-inner span {
  font-size: 12.5px;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-family: "semibold";
  position: relative;
  bottom: 2px;
}
.grey {
  height: 100%;
  position: relative;
  bottom: -6px;
  display: flex;
  flex-direction: row;
}
.grey .one {
  background: #e0e0e0;
  position: relative;
  left: 4px;
}
.handle-one {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: #fff;
  cursor: pointer;
}
.range {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 5px;
} 
.track {
  background-color: #2874f0;
  position: relative;
  height: 6px;
  width: 250px;
  top: 4px;
}       
.handle-two {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: #fff;
  left: 237px;
  cursor: pointer;

}
.dots{
  display: flex;
  flex-direction: row;
  width: 280px;
}
.dot1{
  width: 60.362px;
  color: #c2c2c2;
  position: relative;
  bottom: 25px;
  font-size: 20px;
  position: relative;
  bottom: 30px;
} 
.min-max { 
  display: flex;
  flex-direction: row;
  margin: 5px -4px 0;
  position: relative;
  bottom: 33px;
}
.min-select {
  border-radius: 1px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 99.2px;
  height: 24px;
  padding: 0px 5px;
  font-family: "regular";
}
.max-select {
  border-radius: 1px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 108px;
  height: 24px;
  padding: 0px 5px;
  font-family:"regular";
}
.to {
  display: inline;
  margin: 6px 9px;
  font-size: 14px;
  color: #878787;
  line-height: 1;
  flex: 1;
  text-align: center;
  font-family: "regular";
}    
.heart{
  position: relative;
  left: 16px;
}

/* HELP */
.help {
  padding-top: 30px;
  height: 151px;
  width: 100%;
  border: 1px solid #f1f3f6;
  background-color: #f1f3f6;
}
.help span {
  text-align: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  font-family: "regular";
  font-size: 14px;
}
.help-2 {
  display: flex;
  flex-direction: row;
  margin: 5px 0 20px;
}
.help-2 a {
  text-decoration: none;
  color: #2874f0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  letter-spacing: 0.3px;
  font-family:"regular";
  font-size: 17px;
}
.help-2 svg {
  transform: rotate(180deg);
  position: relative;
  top: 8px;
  right: 65px;
}
.book-img {
  display: flex;
  justify-content: center;
}
/* MAIN BODY */
.body-head {
  height: 97px;
  border-bottom: 1px solid #f1f3f6;
  padding: 12px 16px 0px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.home-one a {
  font-size: 11px;
  color: #878787;
  display: inline-block;
  text-decoration: none;
  font-family:"regular";
  letter-spacing: .1px;
}
.home-one {
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 924px;
  align-items: center;
}
.home-one svg {
  transform: rotate(180deg);
 
  
}
.ul-class{
  position: relative;  
}
.mobile-heading {
  margin-top: 8px;
  font-size: 16px;
  display: inline-block;
  font-family: "regular";
  font-weight: 700;
  margin-bottom: 0px;
  letter-spacing: -.5px;
}
.bracket {
  margin-left: 10px;
  color: #878787;
  display: inline-block;
  font-size: 12px;
  font-family: "regular";
}

.sort {
  display: flex;
  font-family: "regular";
  font-size: 13px;
  letter-spacing: 0.3px;
}
.sort-by {
  padding: 8px 10px 4px 0px;
  font-weight: 600;
}
.popularity {
  padding: 8px 0px 4px;
  margin: 0px 10px;
}
.low-high {
  padding: 8px 0px 4px;
  margin: 0px 10px;
}
.hgih-low {
  padding: 8px 0px 4px;
  margin: 0px 10px;
}
.newest {
  padding: 8px 0 4px;
  margin: 0 10px;
}
li::marker {
  color: #c2c2c2;
  padding-right: 8px;
}
li::before {
  content: "•";
  color: #c2c2c2;
  padding-right: 8px;
  display: table-cell;
}
.card {
  height: 286px;
  box-sizing: border-box;
}
.titleclass:hover {
  color: blue;
  cursor: pointer;
}
.sort :hover {
  cursor: pointer;
}
.mini :hover .overed {
  transform: rotate(90deg);
  fill: blue;
}
.sort span{
  font-family: "regular";
}
.bracket{
  letter-spacing: .3px;
  font-size: 11px;
}
.exchange-mix{
  letter-spacing: .3;
}
.upto{
  font-family: "regular";
  
}
.off{
  font-family: "regular";
}                                                   
.memory{
  font-family: "regular";
  font-size: 13px;
}
.display{
  font-family: "regular";
  font-size: 13px;
}
.frontcamera{
  font-family: "regular";
  font-size: 13px;
}
.battery{
    font-family: "regular";
  font-size: 13px;
}
.processor{
  font-family: "regular";
  font-size: 13px;
}
.warrenty{
  font-family: "regular";
  font-size: 13px;
}

.end{
  height: 60px;
  display: flex;
  align-items: center;
}  
.last{
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: 10px;
}
.end1{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  align-items: center;
}
.endone{
  border-radius: 50%;
  background-color: #2874f0;
  width: 30px;
  height: 30px;  
}  
.endone span{
  align-items: center;
  justify-content: center;
  display: flex;
    width: 30px;
  height: 30px;
  color: white;
}
.nexts span{
  align-items: center;
  justify-content: center;
  display: flex;
}


.main-body2{
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding: 16px;
}
.last-container{
 display: flex;
 flex-direction: row;
 
}
.yesno{
  margin-left: 24px;
}
.yes{
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  padding: 6px 28px;
  margin-right: 8px;
  font-weight: 500;
}
.no{
  border-radius: 2px;
  border: 1px solid #d7d7d7;
  padding: 6px 28px;
  margin-right: 8px;
  font-weight: 500;
}
.writings{
  font-family: "semibold";
  font-size: 16px;
  font-weight: 500;
  
}
.yesno{
  font-family: "semibold";
  font-size: 13.5px;
}
/* ----FOOTER ------*/
.footer-container{
  background-color: #172337;;
  border-top: 1px solid #ddd;
  width: 100%;
  margin-top: 80px;
}
.footer-sub{
  display: flex;
  flex-flow: row wrap;
  margin-left: 65px;
  margin-top: 40px;
  width: 90% !important;
  box-sizing: border-box;
 
}
.about-text{
    margin-bottom: 8px;
}
.about{
  flex: 1;
  white-space: nowrap;
}   
.about-text span{
  color: #878787;
  font-family: "regular";
  font-size: 11.5px;
}
.about a{
  color: white;
  text-decoration: none;
  display: flex;
  font-family: "regular";
  font-size: 11.5px;
  display: block;
   line-height: 2;
   
}
.about a:hover{
   text-decoration: underline;
}


/*-- BOTTOM CONTAINER --*/
.bottom-container{
  border-top: 1px solid #454d5e;
  padding: 25px 0px;
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content a{
  color: white;
  text-decoration: none;
  font-family: "regular";
  margin-left: 8px;
  font-size: 13px;
}
.bottom-inner{
  display: flex;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content span{
   color: white;
  text-decoration: none;
  font-family: "regular";
  margin-left: 8px;
  font-size: 13px;
}



.mob-1{
  font-family: "regular";
}
.accessory{
  font-family: "regular";
}
.computer-item{
  font-family: "regular";
}
.electronics-item{
  font-family: "regular";
}
.featured-item{
    font-family: "regular";
}
/* SEARCH-BOX */
.search-bar{
  border: 1px solid white;
  box-shadow: 0px 4px 16px 0px rgba(82, 81, 81, 0.2);
}
.result-box{
position: absolute;
top: 45.4px;
background-color: white;
width: 564px;
box-shadow: 5px 4px 16px 0px rgba(0, 0, 0, 0.2);

}
.result-box ul{
  list-style: none;
  border-top: 1px solid #ffffff;
}
.result-box li{ 
  list-style: none;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
}
.structure{
 padding: 10px 8px;
 font-family: "regular";
 font-size: 13px;
 letter-spacing: .3px;
}
.productItems img{
  width: 155px;
  height: 200px;
}
.productItems{
  display: flex;
  flex-direction: row;
}
.productCard{
  display: flex;
 width: 100%;         
 padding: 24px 0px 30px 24px;
 border-bottom: 1px solid #f0f0f0;
}
.productItems{
  align-items: start;
  margin-top: 13px;
}
.productItemsmid h3{
  margin-bottom: 0px;
}
.productItemsmid{
  width: 35%;
  font-family: "semibold";
  padding-left: 25px;
}
.productItemslast{
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}
.productItemsmid p{
  font-size: 13px;
  font-family: "regular";
  
  margin: 5px;
}
.productItemslast p{
  margin: 0px;
}
.sep{
  display: flex;
  justify-content: column;
}
.sep1{
  display: flex;
}
.sep p{
  font-size: 25px;
  font-family: "semibold";
  margin-right: 25px;
}
.zip{
  display: flex;
  flex-direction: row;
}
.loo{
  margin: 0px;
}
.strike{
  font-size: 12px;
  color: #878787;
  text-decoration: line-through;
  font-family: "regular";
 
}
.discount{
  font-size: 13px;
   padding-left: 8px;
   font-family: "semibold";
   color: #388e3c;
}
.bank{
  margin-top: 5px;
  color: rgb(38, 165, 65);
  font-size: 13px;
  font-family:"semibold";
}
.ratings{
  display: flex;
  flex-direction: row;
  color: white;
}

.nam{
  width: 30px;
  height: 15px;
  background: #388e3c;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  vertical-align: middle;
  display: flex;
  color: white;

}
.re{
  color: #878787;
}
.st{
  color: #878787;
}
.ratings p{
  font-family: "semibold";
}
.ppp p{
  font-size: 10px;
  align-items: center;
} 
 /*BRAND  */

.brand{
  font-size: 13px;
  font-family: "semibold";

}
.filterBox{
  padding: 13px;
}
.brand-svg{
  transform: rotate(270deg);
}
.CategoryList{                                                                      
  font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   padding: 0px 12px 12px 12px;
   
                                                     
}
.CategoryList label{
  margin: 3px 0px;
  padding: 3px 0px;
  color: #212121;
}

.border-bottom{
   border-bottom: 1px solid #f0f0f0;
  
}
/* CUSTOMER RATINGS */
.customerbox{
  padding: 13px;
}
.customer{
  font-size: 13px;
  font-family: "semibold";

}
.customerList label{
  margin: 3px 0px;
  padding: 3px 0px;
  color: #212121;

}
.customer-svg{
    transform: rotate(270deg);

}
.customerList{
   font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   margin: 7px 0px;
   padding: 0px 12px 12px 12px;
   
}


/* RAM */
.ram{
  font-size: 13px;
  padding: 16px;
  font-family: "semibold";

}

.memoryList label{
  margin: 3px 0px;
  padding: 3px 0px;
  color: #212121;

}
.ram-svg{
  transform: rotate(270deg);
}
.memoryList{                                                                      
  font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   
   padding: 12px 12px;
                                                     
}
/* INTERNAL STORAGE */
.internal{
    font-size: 13px;
  padding: 16px;
  font-family: "semibold";
}
.internal-svg{
    transform: rotate(270deg);

}
.internalList label{
  margin: 3px 0px;
  padding: 3px 0px;
    color: #212121;

}
.internalList{
   font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   padding: 12px 12px;
}


/* BATTERY STORAGE */
.batteryy{
  font-size: 13px;
  padding: 16px;
  font-family: "semibold";
}
.battery-svg{
   transform: rotate(270deg);
}
.batteryList{
  font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   padding: 12px 12px;
}
.batteryList label{
  margin: 3px 0px;
  padding: 3px 0px;
    color: #212121;

}

/* SCREEN SIZE */
.screen{
  font-size: 13px;
  padding: 16px;
  font-family: "semibold";
  
}
.screen-svg{
   transform: rotate(270deg);
}
.screenList{
     font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   padding: 12px 12px;
}
.screenList label{
  margin: 3px 0px;
  padding: 3px 0px;
    color: #212121;

}


/* PRIMARY SCREEN */
.primary{
    font-size: 13px;
  padding: 16px;
  font-family: "semibold";
}
.primary-svg{
     transform: rotate(270deg);
}
.primaryList{
   font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   padding: 12px 12px;
}
.primaryList label{
  margin: 3px 0px;
  padding: 3px 0px;
  color: #212121;

}


/* SECONDARY CAMERA */
.secondary{
  font-size: 13px;
  padding: 16px;
  font-family: "semibold";
}
.secondary-svg{
   transform: rotate(270deg);
}
.secondaryList{
  font-size: 13px;     
  display: flex;                     
  flex-direction: column;
  font-family: "regular"; 
   padding: 12px 12px;
}
.secondaryList label{
  margin: 3px 0px;
  padding: 3px 0px;
  color: #212121;

}



/* FILTER TOP */
/* 1 */
.active-filters{
  display: flex;
  flex-wrap: wrap;
}
.active-filters span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters :hover{
  text-decoration: line-through;
}

/* 2 */

.active-filters2{
  display: flex;
  flex-wrap: wrap;
}
.active-filters2 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters2 :hover{
  text-decoration: line-through;
}

/* 3 */
.active-filters3{
  display: flex;
  flex-wrap: wrap;
}
.active-filters3 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters3 :hover{
  text-decoration: line-through;
}

/*4  */
.active-filters4{
  display: flex;
  flex-wrap: wrap;
}
.active-filters4 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters4 :hover{
  text-decoration: line-through;
}

/* 5 */
.active-filters5{
  display: flex;
  flex-wrap: wrap;
}
.active-filters5 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters5 :hover{
  text-decoration: line-through;
}

/* 6 */
.active-filters6{
  display: flex;
  flex-wrap: wrap;
}
.active-filters6 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters6 :hover{
  text-decoration: line-through;
}
/* 7 */
.active-filters7{
  display: flex;
  flex-wrap: wrap;
}
.active-filters7 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters7 :hover{
  text-decoration: line-through;
}
/* 8 */
.active-filters8{
  display: flex;
  flex-wrap: wrap;
}
.active-filters8 span{
  background-color: #e0e0e0;
  font-size: 10px;
  padding: 6px 4px;
  border-radius: 3px;
  margin: 2px 4px;
  font-family: "regular";

}

.active-filters8 :hover{
  text-decoration: line-through;
}

/* CLEAR ALL */

.clearall span{
  cursor: pointer;
  color: #2874f0;
  font-size: 11px;
  font-family: "semibold";
}

.productItems{
  display: flex;
  flex-direction: column;
}



.compare-main{
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  font-size: 14px;
  color: #212121;
  font-family: "regular";
}
.compare{
  margin-left: 8px;
}


#comparebox{
  border: 1.4px solid #c2c2c2;
  border-radius: 1.5px;
  background-color: transparent;
  border-radius: 1.4px;
}


.price-clear{
  color: #2874f0;
  font-size: 12px;
  font-family: "semibold";
  display: none;
}
.track { transform-origin: left center; }


